interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.hindawi.com/oai-pmh/oai.aspx?until=2022-10-04&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
    response:
      body:
        string:
          "<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"\
          http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/\
          \ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\" xmlns:mml=\"http://www.w3.org/1998/Math/MathML\"\
          \ ><responseDate>2022-10-10T09:18:43Z</responseDate><request verb=\"ListRecords\"\
          \ metadataPrefix=\"marc21\" until=\"2022-10-04\" set=\"HINDAWI.AHEP\">http://oaipmh.hindawi.com/oai-pmh/oai.aspx</request><ListRecords>\t\
          \t<record>\n\t\t<header>\n\t\t\t<identifier>oai:hindawi.com:10.1155/2014/191960</identifier>\n\
          \t\t\t<datestamp>2014-02-02T09:00:04Z</datestamp>\n<setSpec>HINDAWI.AHEP:2014</setSpec>\t\
          \t</header>\n\t\t\t<metadata><marc:record xmlns:marc=\"http://www.loc.gov/MARC21/slim\"\
          \  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"  xsi:schemaLocation=\"\
          http://www.loc.gov/MARC21/slim http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd\"\
          ><datafield tag=\"024\" ind1=\"7\" ind2=\" \"><subfield code=\"a\">10.1155/2014/191960</subfield><subfield\
          \ code=\"2\">DOI</subfield></datafield>\r\n<datafield tag=\"100\" ind1=\"\
          \ \" ind2=\" \"><subfield code=\"a\">Bellini, G.</subfield><subfield code=\"\
          u\">Dipartimento di Fisica, Universit&#xe0; degli Studi and INFN, 20133 Milano,\
          \ Italy</subfield><subfield code=\"j\"></subfield></datafield>\r\n<datafield\
          \ tag=\"245\" ind1=\" \" ind2=\" \"><subfield code=\"a\">Neutrino Oscillations</subfie[...]
