interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.hindawi.com/oai-pmh/oai.aspx?verb=getrecord&set=HINDAWI.AHEP&identifier=oai%3Ahindawi.com%3A10.1155%2F2022%2F8009789&metadataprefix=marc21
    response:
      body:
        string:
          "<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"\
          http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/\
          \ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\" xmlns:mml=\"http://www.w3.org/1998/Math/MathML\"\
          \ ><responseDate>2023-02-22T10:28:51Z</responseDate><request verb=\"GetRecord\"\
          \ metadataPrefix=\"marc21\" identifier=\"oai:hindawi.com:10.1155/2022/8009789\"\
          >http://oaipmh.hindawi.com/oai-pmh/oai.aspx</request><GetRecord><record><header><identifier>oai:hindawi.com:10.1155/2022/8009789</identifier>\n\
          \t\t\t<datestamp>2022-12-12T08:20:02Z</datestamp>\n<setSpec>HINDAWI.AHEP:2022</setSpec></header><metadata><marc:record\
          \ xmlns:marc=\"http://www.loc.gov/MARC21/slim\"  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
          \  xsi:schemaLocation=\"http://www.loc.gov/MARC21/slim http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd\"\
          ><datafield tag=\"024\" ind1=\"7\" ind2=\" \"><subfield code=\"a\">10.1155/2022/8009789</subfield><subfield\
          \ code=\"2\">DOI</subfield></datafield>\r\n<datafield tag=\"037\" ind1=\"\
          \ \" ind2=\" \"><subfield code=\"9\">arXiv</subfield><subfield code=\"a\"\
          >arXiv:2206.07972</subfield></datafield>\r\n<datafield tag=\"100\" ind1=\"\
          \ \" ind2=\" \"><subfield code=\"a\">Balasundaram, Muthukumar</subfield><subfield\
          \ code=\"u\">Department of Physics, School of Physical, Chemical and Applied\
          [...]
