interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.hindawi.com/oai-pmh/oai.aspx?from=2022-01-01&until=2022-01-10&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
    response:
      body:
        string:
          "<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"\
          http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/\
          \ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\" xmlns:mml=\"http://www.w3.org/1998/Math/MathML\"\
          \ ><responseDate>2022-10-10T09:18:09Z</responseDate><request verb=\"ListRecords\"\
          \ metadataPrefix=\"marc21\" from=\"2022-01-01\" until=\"2022-01-10\" set=\"\
          HINDAWI.AHEP\">http://oaipmh.hindawi.com/oai-pmh/oai.aspx</request><ListRecords>\t\
          \t<record>\n\t\t<header>\n\t\t\t<identifier>oai:hindawi.com:10.1155/2019/3902819</identifier>\n\
          \t\t\t<datestamp>2022-01-10T14:35:02Z</datestamp>\n<setSpec>HINDAWI.AHEP:2019</setSpec>\t\
          \t</header>\n\t\t\t<metadata><marc:record xmlns:marc=\"http://www.loc.gov/MARC21/slim\"\
          \  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"  xsi:schemaLocation=\"\
          http://www.loc.gov/MARC21/slim http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd\"\
          ><datafield tag=\"024\" ind1=\"7\" ind2=\" \"><subfield code=\"a\">10.1155/2019/3902819</subfield><subfield\
          \ code=\"2\">DOI</subfield></datafield>\r\n<datafield tag=\"037\" ind1=\"\
          \ \" ind2=\" \"><subfield code=\"9\">arXiv</subfield><subfield code=\"a\"\
          >arXiv:1902.09036v1</subfield></datafield>\r\n<datafield tag=\"100\" ind1=\"\
          \ \" ind2=\" \"><subfield code=\"a\">Miranda, O. G.</subfield><subfield code=\"\
          u\">Departamento de F&#xed;sica, Centro de Investigaci&#xf3;n y de Estudios\
          \[...]
