interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://downloads.hindawi.com/journals/ahep/2019%2F0000000.pdf?from=2022-01-01&until=2022-01-10&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
    response:
      body:
        string:
          "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\
          \n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>CloudFront</center>\r\
          \n</body>\r\n</html>\r\n"
      headers:
        Content-Type:
          - text/html
        Location:
          - https://downloads.hindawi.com/journals/ahep/2019%2F0000000.pdf?from=2022-01-01&until=2022-01-10&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
      method: GET
      uri: https://downloads.hindawi.com/journals/ahep/2019%2F0000000.pdf?from=2022-01-01&until=2022-01-10&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
    response:
      body:
        string: '<?xml version="1.0" encoding="UTF-8"?>

          <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>AGRZCMQXPJ219PZG</RequestId><HostId>UQXNIMT4UhdwmvcpIgzOBy1ygl//7RMakqFDtqZrgJEB8F3zDsXuZ9Vi/FLHgxSW9s8Pks8N0AI=</HostId></Error>'
      headers:
        Content-Type:
          - application/xml
      status:
        code: 403
        message: Forbidden
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://downloads.hindawi.com/journals/ahep/2019%2F0000000.pdf?from=2022-01-01&until=2022-01-10&verb=listrecords&set=HINDAWI.AHEP&metadataprefix=marc21
    response:
      body:
        string: '<?xml version="1.0" encoding="UTF-8"?>

          <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>TNTFVHYDN2ZHXDE8</RequestId><HostId>3PMBuGyzyND4ADakUHMdczeQu6N44sDtzq5JzKIMFyCKboP6rx8G9HWUX58NBlusFa0gcdmQJkw=</HostId></Error>'
      headers:
        Content-Type:
          - application/xml
      status:
        code: 403
        message: Forbidden
version: 1
