interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://harvest.aps.org/v2/journals/articles/10.1103%2FPhysRevLett.126.153601
    response:
      body:
        string:
          "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!DOCTYPE article PUBLIC\
          \ \"-//NLM//DTD JATS (Z39.96) Journal Publishing DTD with OASIS Tables with\
          \ MathML3 v1.2 20190208//EN\" \"JATS-journalpublishing-oasis-article1-mathml3.dtd\"\
          >\r\n<article article-type=\"research-article\" xmlns:mml=\"http://www.w3.org/1998/Math/MathML\"\
          \ xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:oasis=\"http://www.niso.org/standards/z39-96/ns/oasis-exchange/table\"\
          ><front><journal-meta><journal-id journal-id-type=\"publisher-id\">PRL</journal-id><journal-id\
          \ journal-id-type=\"coden\">PRLTAO</journal-id><journal-title-group><journal-title>Physical\
          \ Review Letters</journal-title><abbrev-journal-title>Phys. Rev. Lett.</abbrev-journal-title></journal-title-group><issn\
          \ pub-type=\"ppub\">0031-9007</issn><issn pub-type=\"epub\">1079-7114</issn><publisher><publisher-name>American\
          \ Physical Society</publisher-name></publisher></journal-meta><article-meta><article-id\
          \ pub-id-type=\"doi\">10.1103/PhysRevLett.126.153601</article-id><article-categories><subj-group\
          \ subj-group-type=\"toc-major\"><subject>LETTERS</subject></subj-group><subj-group\
          \ subj-group-type=\"toc-minor\"><subject>Atomic, Molecular, and Optical Physics</subject></subj-group></article-categories><title-group><article-title>Observation\
          \ of Microcanonical Atom Number Fluctuations in a Bose-Einstein Condensate</article-title></title-group><contrib-group><contrib\
          \ contrib-type=\"author\"><contrib-id contrib-id-type=\"orcid\">https://orcid.org/0000-0002-7355-8107</contrib-id><name><surname>Christensen</surname><given-names>M.\u2009\
          B.</given-names></name><xref ref-type=\"aff\" rid=\"a1\"><sup>1</sup></xref></contrib><contrib\
          \ contrib-type=\"author\"><contrib-id contrib-id-type=\"orcid\">https://orcid.org/0000-0001-7116-4983</contrib-id><name><surname>Vibel</surname><given-names>T.</given-names></name><xref\
          \ ref-type=\"aff\" rid=\"a1\"><sup>1</sup></xref></contrib><contrib contrib-type=\"\
          author\"><contrib-id contrib-id-type=\"orcid\">https://orcid.org/0000-0002-4512-5355</contrib-id><name><surname>Hilliard</surname><given-names>A.\u2009\
          J.</given-names></name><xref ref-type=\"aff\" rid=\"a1\"><sup>1</sup></xref></contrib><contrib\
          \ contrib-type=\"author\"><contrib-id contrib-id-type=\"orcid\">https://orcid.org/0000-0002-9868-4310</contrib-id><name><surname>Kruk</surname><given-names>M.\u2009\
          B.</given-names></name><xref[...]
