interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://harvest.aps.org/v2/journals/articles?from=2022-02-05&until=2022-03-05&date=modified&set=scoap3&per_page=100
    response:
      body:
        string:
          "{\"data\":[{\"abstract\":{\"value\":\"<p>We study properties of the\
          \ thermal transition in QCD, using anisotropic, fixed-scale lattice simulations\
          \ with <math xmlns=\\\"http://www.w3.org/1998/Math/MathML\\\" display=\\\"\
          inline\\\"><msub><mi>N</mi><mi>f</mi></msub><mo>=</mo><mn>2</mn><mo>+</mo><mn>1</mn></math>\
          \ flavors of Wilson fermion. Observables are compared for two values of the\
          \ pion mass, focusing on chiral properties. Results are presented for the\
          \ Polyakov loop, various susceptibilities, the chiral condensate and its susceptibility,\
          \ and the onset of parity doubling in the light and strange baryonic sector.</p>\"\
          ,\"format\":\"html\"},\"articleType\":\"article\",\"authors\":[{\"type\":\"\
          Person\",\"name\":\"G. Aarts\",\"firstname\":\"G.\",\"surname\":\"Aarts\"\
          ,\"affiliationIds\":[\"a1\"]},{\"type\":\"Person\",\"name\":\"C. Allton\"\
          ,\"firstname\":\"C.\",\"surname\":\"Allton\",\"affiliationIds\":[\"a1\"]},{\"\
          type\":\"Person\",\"name\":\"J. Glesaaen\",\"firstname\":\"J.\",\"surname\"\
          :\"Glesaaen\",\"affiliationIds\":[\"a1\"]},{\"type\":\"Person\",\"name\":\"\
          S. Hands\",\"firstname\":\"S.\",\"surname\":\"Hands\",\"affiliationIds\":[\"\
          a1\",\"a2\"]},{\"type\":\"Person\",\"name\":\"B. J\xE4ger\",\"firstname\"\
         [...]
