interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://export.arxiv.org/api/query?search_query=doi:%2210.1140/epjc/s10052-022-10353-6%22
    response:
      body:
        string:
          "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\"\
          >\n  <link href=\"http://arxiv.org/api/query?search_query%3Ddoi%3A%2210.1140%2Fepjc%2Fs10052-022-10353-6%22%26id_list%3D%26start%3D0%26max_results%3D10\"\
          \ rel=\"self\" type=\"application/atom+xml\"/>\n  <title type=\"html\">ArXiv\
          \ Query: search_query=doi:\"10.1140/epjc/s10052-022-10353-6\"&amp;id_list=&amp;start=0&amp;max_results=10</title>\n\
          \  <id>http://arxiv.org/api/YcN+kLJ9hdcmVpiMFB03tgxbYvk</id>\n  <updated>2022-05-24T00:00:00-04:00</updated>\n\
          \  <opensearch:totalResults xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\"\
          >0</opensearch:totalResults>\n  <opensearch:startIndex xmlns:opensearch=\"\
          http://a9.com/-/spec/opensearch/1.1/\">0</opensearch:startIndex>\n  <opensearch:itemsPerPage\
          \ xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\">10</opensearch:itemsPerPage>\n\
          </feed>\n"
      headers:
        Content-Type:
          - application/atom+xml; charset=UTF-8
      status:
        code: 200
        message: OK
version: 1
