interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://export.arxiv.org/api/query?search_query=ti:%22b'Particle%20physics%20and%20cosmology%20of%20the%20string%20derived%20no?scale%20flipped%20$SU(5)$'%22
    response:
      body:
        string:
          "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\"\
          >\n  <link href=\"http://arxiv.org/api/query?search_query%3Dti%3A%22b%27Particle%20physics%20and%20cosmology%20of%20the%20string%20derived%20no%3Fscale%20flipped%20%24SU%285%29%24%27%22%26id_list%3D%26start%3D0%26max_results%3D10\"\
          \ rel=\"self\" type=\"application/atom+xml\"/>\n  <title type=\"html\">ArXiv\
          \ Query: search_query=ti:\"b'Particle physics and cosmology of the string\
          \ derived no?scale flipped $SU(5)$'\"&amp;id_list=&amp;start=0&amp;max_results=10</title>\n\
          \  <id>http://arxiv.org/api/K6w/5Q8EYspo2Q7Mz1khzMgY/mA</id>\n  <updated>2022-05-24T00:00:00-04:00</updated>\n\
          \  <opensearch:totalResults xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\"\
          >0</opensearch:totalResults>\n  <opensearch:startIndex xmlns:opensearch=\"\
          http://a9.com/-/spec/opensearch/1.1/\">0</opensearch:startIndex>\n  <opensearch:itemsPerPage\
          \ xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\">10</opensearch:itemsPerPage>\n\
          </feed>\n"
      headers:
        Content-Type:
          - application/atom+xml; charset=UTF-8
      status:
        code: 200
        message: OK
version: 1
